<html>
  <head>
    <link rel="stylesheet" href="{{ url }}/assets/css/lab.css">
  </head>
  <body>
    <div class="scrollcontainer">
    <div class="left">
      {% assign lab_files = site.data.labs %}
      {% for file in lab_files %}
      {% assign lab = file[1] %}
      <h1>{{ lab.name }}</h1>
      <h4>{{ lab.university }}, {{ lab.city }}</h4>
      <p>{{ lab.info | truncatewords: 50 }} <a href="{{ site.url }}{{ site.baseurl }}{{lab.url}}">Read more</a></p>
      {% endfor %} 
    </div>
    <div class="right">
      <img src="{{ site.url }}{{ site.baseurl }}/assets/img/germany.png"/>
    </div>
    </div>
</body>
</html>
<!-- <div style="display: flex; justify-content: space-between;margin-top: 5%;margin-inline: 5%;gap:2%;">
  <div style="max-width:65%;">
    {% assign lab_files = site.data.labs %}
    {% for file in lab_files %}
    {% assign lab = file[1] %}
    <h1>{{ lab.name }}</h1>
    <h4>{{ lab.university }}, {{ lab.city }}</h4>
    <p>{{ lab.info | truncatewords: 50 }} <a href="{{ site.url }}{{ site.baseurl }}{{lab.url}}">Read more</a></p>
    {% endfor %} 
</div>
<div style="position: fixed;right: 2%;">
<img src="{{ site.url }}{{ site.baseurl }}/assets/img/germany.png"/>
</div> -->