<h2 style="display: flex; justify-content: center;">German HCI Labs</h2>
<div style="display:flex;justify-content: center;">
  <div style="flex: 0 0 25%;">
    <b>Quick Access:</b> RWTH <b>Aachen</b> University | Universität <b>Bayreuth</b> | Humboldt University of <b>Berlin</b> | Universität <b>Bremen</b> | TU <b>Darmstadt</b> | Technische Universität <b>Dresden</b> | University of <b>Duisburg-Essen</b> | TU Bergakademie <b>Freiberg</b> | Universität <b>Hamburg</b> | Technische Hochschule <b>Ingolstadt</b> (THI) | <b>Karlsruhe</b> Institute of Technology (KIT) | University of <b>Konstanz</b> | Hochschule Anhalt (Köthen) | Universität zu Lübeck | LMU Munich | Bundeswehr University Munich | University of Oldenburg | OFFIS – Institute for Information Technology (Oldenburg) | Universität Potsdam | Saarland University and German Research Center for Artificial Intelligence (DFKI) | University of Siegen | Ulm University | Universität Würzburg
  </div>
  <div>
    <img id="germany-map" width="594" height="801" src="{{ site.url }}{{ site.baseurl }}/assets/img/labs_logo/germany_map.svg" alt="Germany Map"/>
  </div>
</div>

{% assign lab_files = site.data.labs %}
<div class="row">
{% for file in lab_files %}
{% for entry in file %}

  <h1 class="head-text" id="{{file.university}}">{{ entry.university }}</h1>
  {% for lab in entry.lab %}
    <h2 class="head-text" >{{ lab.labname }}</h2>
    <h3>{{ lab.lablead }} - {{ lab.link }}</h3>
    <p>{{ lab.info | truncatewords: 50 }} <a href="{{ site.url }}{{lab.url}}">Read more</a></p>
  {% endfor %}
{% endfor %}
<hr/>
{% endfor %} 
</div> 



