.abstract {
    display: none;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}
/* not sure for what these styles belong to search-container,serch-input and search-button */
.search-container {
    margin: 20px;
    text-align: center;
}
.search-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #3E3E3E;
}
.entry {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.hidden {
    display: none;
}
.highlight {
    background-color: yellow;
    font-weight: bold;
}
#clearSearch{
    text-decoration: underline; 
    color: #45B29D;
    display: none;
}
.searchable-tag{
    padding:0.2rem;
    background-color: #45B29D;
	color: #3E3E3E;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
}
.searchable-tag:focus{
    color: #45B29D;
    background-color: #3E3E3E;
    
}
.bold {
    font-weight: bold;
  }

.tags-list{
    list-style: none; 
    padding: 0; 
    display: flex; 
    flex-wrap: wrap; 
    /* gap: 10px; */
    margin-bottom: 10px;
    margin-top: 10px; 
    gap: 0px 5px; 
    align-items: center;
    justify-content: center;
}

