.abstract {
    display: none;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}
.search-container {
    margin: 20px;
    text-align: center;
}
.search-input {
    padding: 10px;
    width: 300px;
    font-size: 16px;
}
.search-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.entry {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.hidden {
    display: none;
}
.highlight {
    background-color: yellow;
    font-weight: bold;
}
#clearSearch{
    text-decoration: underline; 
    color: #45B29D;
    display: none;
}
.searchable-tag{
    padding:0.2rem;
    background-color: #45B29D;
	color: #3E3E3E;
    font-size: 1rem;
    border-radius: 10px;
}
.searchable-tag:focus{
    color: #45B29D;
    background-color: #3E3E3E;
    
}
.bold {
    font-weight: bold;
  }
