<head>
    <style>
        details {
            margin-bottom: 1em;
            width: auto;
            background-color: gray;
        }
        summary {
            font-weight: bold;
            cursor: pointer;
            width: auto;
            background-color: gray;
        }
    </style>
</head>
<body>
<div style="display:flex; justify-content: space-around;">
    <div>
        {% if entry.image %}
        <img src="{{ entry.image }}" alt="image" style="min-width: 200px;"/>
        {% endif %}
    </div>
<div>
<div class="text-justify">
    <h3>{{entry.author }}</h3>
    <h3>{{ entry.title }}</h3>
</div>

{% if entry.abstract %}
<div>
    <summary>abstract</summary>
    <details><em>{{ entry.abstract }}</em></details>
</div>
{% endif %}

<div>
    {% if entry.doi %}
    <span><a href="{{ entry.doi | prepend: 'http://doi.org/' }}">doi</a></span>
    {% endif %}
</div>
</div>
</div>
</body>