---
layout: default 
format: frontpage
---
<!-- <div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div>
    </div>
</div> -->


{% comment %}
*
* Finally, if there is content, spit it out.
*
{% endcomment %}

<div style="margin-inline: 10rem;">
    {{ content }}
</div><!-- /.row -->


{% comment %}
*
* First check, if there are any posts at all
*
{% endcomment %}

{% unless site.posts == empty %}
    <div class="row t30 b20 homepage"> 
        <div class="small-12 columns">
            {% for post in site.posts limit:1 %}
            {% if post.image.homepage %}
            <p>
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="{{ post.title | escape_once }}"><img width="970" src="{{ site.urlimg }}{{ post.image.homepage }}" alt="{{ page.title | escape_once }}"></a>
            </p>

            {% if post.image.caption_url and post.image.caption %}
            <p class="text-right caption">
                <a href="{{ post.image.caption_url }}">{{ post.image.caption }}</a>
            </p>
            {% endif %}
            {% else post.image.homepage == NULL %}
            <!-- <h2>{{ site.data.language.new_blog_entries }}</h2> -->
            {% endif %}
            {% endfor %}
        </div><!-- /.small-12.columns -->
    </div><!-- /.row -->
<!-- German HCI Labs -->
 <div style="background-color: black; padding-block: 3rem;">
    <div class="row">
        <div class=" medium-6 columns">
            <div style="text-align: right; color: white;">
                <h1 style="color: white;margin-top: 2rem;">German HCI LABS</h1>
                <p style="text-align: right;font-size: 1rem;"> All across Germany</p>
                <p style="text-align: right;font-size: 1.5rem;margin-block: 3rem;">Germany is a hub for HCI innovation, with a vibrant community actively contributing to CHI and a network of renowned HCI labs spread across the country.</p>
                <a style="padding:10px; border:2px black solid; border-radius: 25px;background-color: #40A3A0;color: white;font-size: 1.2rem;" href="{{ site.url }}{{ site.baseurl }}/hci_labs">More info</a>
            </div> 
        </div>
        <div class="medium-6 columns">
            <div>
                <img id="germany-map" src="{{site.url}}{{site.baseurl}}/assets/img/map_blackbg.svg"/>
            </div>
        </div>
    </div>
</div>

<!-- Articles -->
    <!-- <div class="row">
        <div class="medium-6 columns">
            {% for post in site.posts limit:1 %}
            {% if post.subheadline %}<p class="subheadline">{{ post.subheadline }}</p>{% endif %}
            <h2><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
            <p>
                {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% else post.teaser %}{{ post.teaser | strip_html | escape }}{% endif %}
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="Read {{ post.title | escape_once }}"><strong>{{ site.data.language.read_more }}</strong></a>
            </p>
            {% endfor %}
        </div>


        <div class="medium-6 columns">
            <p><strong>{{ site.data.language.more_articles }}</strong></p>
            {% include list-posts entries='3' offset='1' %}
        </div>
    </div> -->
{% endunless %}



{% comment %}
*
* First check, if widget is empty or not by checking if there is a title
*
{% endcomment %}
<!-- contunie here -->
<div class="row t60">
    <h2 style="text-align: center; margin-bottom: 2rem;">German HCI@CHI</h2>
    <p style="margin-bottom: 2rem;" s>Under the German HCI flag, over 30 research labs teamed up to promote together their institutions and research at the annual ACM CHI Conference on Human Factors in Computing Systems, the premier venue in the field of Human-Computer Interaction. Since 2017, we have been organizing a networking event together during CHI —also known as the German HCI event— in order to boost the visibility of our community. Over the years, this event has grown to become the largest of its kind at CHI, with almost 1.000 guests.</p>
	{% if page.widget1.title %}
		{% include _frontpage-widget.html widget=page.widget1 %}
	{% endif %}


	{% if page.widget2.title %}
		{% include _frontpage-widget.html widget=page.widget2 %}
	{% endif %}


	{% if page.widget3.title %}
		{% include _frontpage-widget.html widget=page.widget3 %}
	{% endif %}
</div><!-- /.row -->



{% comment %}
*
* First check, if there is a call for action-button
*
{% endcomment %}
{% if page.callforaction.url contains 'http' %}
{% assign url = '' %}
{% else %}
{% capture url %}{{ site.url }}{{ site.baseurl }}{% endcapture %}
{% endif %}
{% if page.callforaction %}
    <div class="row t60 b60">
        <div class="small-12 text-center columns">
            <a style="padding:10px; border:2px black solid;border-radius: 25px;" href="{{ url }}{{ page.callforaction.url }}"{% if page.callforaction.url contains 'http' %} target="_blank" {% endif %}>{{ page.callforaction.text }}</a>
        </div><!-- /.small-12.columns -->
    </div><!-- /.row -->
{% endif %}


