---
layout: default
format: page-fullwidth
---
{% if page.image.title %}
<div class="row t30">
	<div class="small-12 columns">
		<img src="{{ site.urlimg }}{{ page.image.title }}" width="970" alt="{{ page.title | escape_once }}">
		{% if page.image.caption_url and page.image.caption %}
		<p class="text-right caption">
			<a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
		</p>
		{% endif %}
	</div><!-- /.small-12.columns -->
</div><!-- /.row -->
{% endif %}


<div class="row t30">
	<div class="medium-12 columns">
		<article>
			<header>
				{% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
				<h1 style="text-align: center;">{{ page.title }}</h1>
			</header>

			{% if page.teaser %}
			<p class="teaser">
				{{ page.teaser }}
			</p>
			{% endif %}

			{{ content }}
		</article>
	</div><!-- /.medium-12.columns -->
</div><!-- /.row -->


{% if page.table %}
<div class="row t30">
	<div class="medium-12 columns">
		<h2 class="head-text">{{page.table}}</h2>
		<table>
			<tr>
				{% for head in page.heading %}
				<th>{{ head }}</th>
				{% endfor %}
			</tr>
			{% for row in page.rows %}
			<tr>
				{% for item in row %}
				<td>{{item}}</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endif %}

{% if page.data %}
<div class="row t30">
	<div class="medium-12 columns">
		{% for item in page.data %}
			<h3 class="head-text">{{item.heading}}</h3>
				{% if item.columns == 1 %}
					{% for con in item.content %}
						<p>{{ con }}</p>
					{% endfor%}
					{% if item.image %}
						<img src="{{ site.url }}/assets/img/{{ item.image }}" alt="hello" >
					{% endif %}			
				{% endif %}
				{% if item.columns == 2 %}
					<div style="display: flex; justify-content: space-between; gap: 20px;">
						{% for con in item.content %}
							<p>{{ con }}</p>
						{% endfor%}
						{% if item.image %}
							<img src="{{ site.url }}/assets/img/{{ item.image }}" alt="hello" width="300">
						{% endif %}
					</div>
				{% endif %}
				<hr style="margin-block: 50px;"/>
		{% endfor %}
	</div>
</div>
{% endif %}