---
layout: default
format: publications
---
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/pub.css">
<div class="row t30">
	<div class="medium-12 columns">
		<article>
			<header>
				{% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
				<h1 style="text-align: center;">{{ page.title }}</h1>
			</header>

			{% if page.teaser %}
			<p class="teaser">
				{{ page.teaser }}
			</p>
			{% endif %}

		</article>
	</div><!-- /.medium-12.columns -->
</div><!-- /.row -->

<div class="row t30">
    <div class="medium-12 columns">
    <!-- TO DO -->
    We curated a list of this year’s publications — including links to social media, lab websites, and supplemental material. We have 58 full papers, 13 LBWs, one DC paper, and one Student Game Competition, and we lead five workshops. Two papers were awarded a best paper award, and four papers received an honourable mention.
    Is your publication missing? Send us an email: contact@germanhci.de

    {{ content }}

    <form id="searchForm">
        <label for="searchInput">Enter your search:</label>
        <input type="text" id="searchInput" name="searchInput" required>
        <button type="submit">Search</button>
        <p id="clearSearch">Show all</p>
    </form>

    <div class="output" id="output"></div>

    </div>
</div>

{% if page.bib %}
<div class="row t30" id="content">
    <div class="medium-12 columns">
        {% for entry in site.data.bibliography_yaml.references %}
        <div class="paper-section">
            {% assign clean_title = entry.title | replace: "{", "" | replace: "}", "" | xml_escape %}
            {% assign clean_author = entry.author | xml_escape | replace: "{", "" | replace: "}", ""  %}
            {% assign clean_year = entry.year | replace: "{", "" | replace: "}", "" | xml_escape %}
            {% assign clean_tag = entry.tag | replace: "{", "" | replace: "}", "" | xml_escape %}
            {% assign clean_abstract = entry.abstract | replace: "{", "" | replace: "}", "" | xml_escape %}
            {% assign clean_keywords = entry.keywords | replace: "{", "" | replace: "}", "" | xml_escape %}
            
            <h3 class="head-text">{{ clean_title }}</h3><br/>
            {{ clean_author }}<br/>
            <p style="font-size: small;">In: {{ clean_year }}</p>
            <p>
                <span onclick="toggleAbstract('abstract-{{ forloop.index }}')" style="text-decoration: underline; color: brown;">Abstract</span> |
                Tags: {{ clean_tag }} |
                Links: <a href="{{ entry.url }}"><img src="{{ site.url }}/assets/img/doi.jpg" width="20px"/></a>
            </p>
            <p class="abstract" id="abstract-{{ forloop.index }}" style="display: none;">
                {{ clean_abstract }}<br>
                <span style="font-weight: bold;">Keywords: {{ clean_keywords }}</span>
            </p>
            <hr/>
        </div>
        {% endfor %}
    </div>
</div>

{% endif %}
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/publications.js"></script>